<h1>Привет от Casper!</h1>
<p>
  Сейчас <%= @time %>
</p>
<p>
  А тут эксперементы
  <p>
    <%= link_to "Эксперемент №1", dir_list_path %> поехали!
  </p>
</p>
<p>
  Пора сказать
  <%= link_to  "до свидания", say_goodbye_path %>!
</p>